.spinner-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--ion-color-neutral-700-rgb), 0.2);
  backdrop-filter: blur(0.25rem);

  &.screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
  }
}
