.cred-card-detail {
  &.archived-credential {
    & ion-header ion-toolbar ion-button.action-button-label {
      background: var(--ion-color-neutral-200);
      width: 4rem;
    }
  }

  .keri-card-template:not(:first-child),
  .rome-card-template:not(:first-child) {
    margin: 0;
    box-shadow: none;
  }

  .revoked-alert {
    background-color: var(--ion-color-error-800);
    padding: 0.75rem 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0.75rem 0 1.5rem !important;
    border-radius: 0.5rem;
    color: var(--ion-color-neutral-100);
    line-height: 1.5rem;
  }

  &.revoked {
    .page-header {
      .action-button-label {
        background: var(--ion-color-neutral-200);

        & > p {
          color: var(--ion-color-error-800);
        }
      }
    }
  }

  .page-header {
    .action-button-label {
      background: var(--ion-color-neutral-100);
      & > p {
        color: var(--ion-color-primary-700);
      }
    }
  }

  .notification-selected {
    width: fit-content;
    --checkbox-background-checked: var(--ion-color-primary-700);
    --checkmark-color: var(--ion-color-primary-100);
    --border-width: 0.115rem;

    &.checkbox-checked {
      --border-width: 0;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .revoked-alert {
      padding: 0.5rem 1rem;
      margin: 0.5rem 0 1rem !important;
      font-size: 0.8rem;
    }
  }

  .card-details-content .card-block {
    margin: 0.75rem 0 0;

    &.flat-border-top {
      margin-top: 0.25rem;
    }

    .credential-issued-section .card-details-info-block-data {
      display: flex;
      flex-direction: column;
    }
  }

  ion-button.avatar-button {
    margin: 0;
    min-height: 1.5rem;
    border-radius: 1.5rem;
    padding: 0.2rem;

    &::part(native) {
      width: 1.5rem;
      height: 1.5rem;
      padding: 0;
    }

    span {
      font-size: 0.95rem;
      line-height: 1.22rem;
    }

    @media screen and (min-width: 250px) and (max-width: 374px) {
      min-height: 1.2rem;
      padding: 0;

      &::part(native) {
        width: 1.2rem;
        height: 1.2rem;
        padding: 0;
      }

      span {
        font-size: 0.8rem;
      }
    }
  }

  .credential-details-issuer-label,
  .credential-details-issuer,
  .related-identifier-label,
  .related-identifier {
    font-size: 1rem;
    font-weight: 500;
    align-items: center !important;
    color: var(--ion-color-neutral-700);

    &::part(native) {
      padding: 0;
    }

    .identifier-name {
      overflow: hidden;
      margin-left: 0.3rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .credential-details-split-section {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .card-block {
      width: 49%;

      .card-details-info-block-inner {
        height: 100%;
      }

      .credential-details-id {
        .card-details-info-content {
          display: block;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .credential-details-split-section {
      flex-direction: column;

      .card-block {
        width: auto;
      }
    }
  }
}

.cred-detail-spinner-container {
  height: calc(100vh - 11.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cred-open-animation {
  .card-details-content {
    animation: credExpand 0.7s ease-in-out;

    @keyframes credExpand {
      from {
        height: 0;
        overflow-y: hidden;
        opacity: 0;
      }

      to {
        height: 100vh;
        overflow-y: hidden;
        opacity: 1;
      }
    }
  }
}

.cred-back-animation {
  .card-details-content {
    animation: credCollapse 0.2s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes credCollapse {
    from {
      height: 100vh;
      overflow-y: hidden;
      opacity: 1;
    }

    to {
      height: 0;
      overflow-y: hidden;
      opacity: 0;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .creation-timestamp {
      .card-details-info-block-data {
        font-size: 0.75rem;

        .card-details-info-block-key {
          font-size: 0.8rem;
        }
      }
    }
  }
}
