.notification-details-credential-request-info {
  & .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .threshold {
    display: flex;
    justify-content: space-between;
  }

  .credential-content {
    margin-top: 0.5rem;

    .request-infor {
      display: flex;
      flex-direction: column;

      &.reverse {
        flex-direction: column-reverse;
      }
    }

    .credential-request-description {
      margin: 0 0 1.5rem;
      text-align: center;
    }

    .alert {
      margin: 0 0 1.5rem 0;
    }

    .success {
      background: rgba(var(--ion-color-success-800-rgb), 0.1);

      .alert-icon {
        color: var(--ion-color-success-800);
      }
    }

    .proposed-cred {
      .card-details-info-block-line-start-icon {
        width: auto;
        height: auto;

        .card-theme {
          border-radius: 0.25rem;
          width: 2.625rem;
          height: 1.5rem;
        }
      }
    }

    .missing-proposed-cred-info {
      background-color: rgba(var(--ion-color-warning-800-rgb), 0.1);
      margin: 4px 0 1.5rem 0;
      width: 100%;
      border-radius: 0 0 0.5rem 0.5rem;

      p {
        text-align: left;
      }

      ion-icon {
        color: var(--ion-color-warning-800);
      }
    }

    .card-details-info-block {
      margin-bottom: 1.5rem;
    }

    .card-details-info-block-inner {
      .card-header {
        padding-bottom: 1.25rem;
      }
    }

    .missing-proposed-cred {
      margin-bottom: 0;

      .card-details-info-block-inner {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }

    .requested-credential {
      padding: 0.75rem 0.25rem;
      display: block;
    }

    .request-data {
      .card-details-info-block-inner {
        padding: 1.25rem 1.5rem;
      }
    }
  }

  .credential-request-footer {
    padding: 1rem 0;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .page-footer {
      .decline-button {
        font-size: 0.8rem;
        height: 2.8rem;
      }
    }

    .credential-content {
      margin-top: 1rem;

      .requested-credential {
        font-size: 0.8rem;
        padding: 0.5rem 0.25rem;
        display: block;
      }

      .request-data {
        .card-details-info-block-inner {
          padding: 1rem 1.5rem;
        }
      }

      .card-details-info-block {
        margin-bottom: 1.5rem;
      }

      .missing-proposed-cred {
        margin: 0;
      }
    }
  }
}
