.create-password {
  .page-header {
    ion-toolbar {
      --background: transparent;
      padding-inline: 0;

      .progress-bar-container {
        margin-left: 0;
      }
    }
  }

  &.has-header-skip {
    .page-header {
      ion-toolbar {
        .buttons-first-slot.md {
          min-width: auto;
        }
      }
    }
  }

  .password-module {
    margin-top: 0.5rem;
  }
}
