.profiles {
  display: flex;
  flex-direction: column;

  .scrollable-page-content > * {
    margin: 0;
  }

  .profiles-selected-profile {
    margin: 2rem 0 1.5rem;

    .profiles-list-item {
      padding-bottom: 0.62rem;
    }

    .profiles-options-button {
      margin: 0;
    }
  }

  .profiles-list {
    > * {
      border-top: 1px solid var(--ion-color-neutral-300);
    }
  }

  .profiles-list-item {
    display: flex;
    width: 100%;
    padding: 1rem 0;

    &-avatar {
      margin-right: 1rem;
    }

    &-name {
      align-content: center;
    }
  }

  .profiles-options {
    min-height: 6rem;
  }

  .profiles-options-button {
    --color: var(--ion-color-neutral-700);
    --background: var(--ion-color-neutral-200);
    --border-color: var(--ion-color-neutral-400);
    --background-activated: var(--ion-color-neutral-400);

    &::part(native) {
      height: 2.5rem;
      text-align: center;
      align-content: center;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem 0.5rem 0.75rem;
      border: 1px solid var(--ion-color-neutral-400);
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    ion-icon {
      margin-right: 0.25rem;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  > *:last-child {
    margin-bottom: 2.25rem;
  }
}
