.notification-details-receive-credential {
  display: flex !important;

  .scrollable-page-content {
    justify-content: space-between;
  }

  h2 {
    text-align: center;
  }

  .request-animation-center {
    min-height: calc(100vh - (13.5rem + var(--ion-safe-area-top)));
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    padding: 1.5rem 0;

    .group-members {
      margin-top: 2rem;
    }

    .issuer-name {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {
        width: 1.25rem;
        height: 1.25rem;
        margin-left: 0.25rem;
        padding-top: 0.15rem;
        color: var(--ion-color-neutral-700);
      }
    }
  }

  .credential-detail {
    margin-top: 2rem;
    text-align: center;

    .credential-button {
      --border-radius: 0.5rem;
      height: 2.5rem;
    }
  }

  .related-identifiers {
    margin-top: 1.5rem;

    .related-identifier-label {
      font-size: 1rem;
      font-weight: 500;
      color: var(--ion-color-neutral-700);

      &::part(native) {
        padding: 0;
      }
    }

    .related-identifier {
      --padding-start: 0;
      --inner-padding-end: 0;
      --padding-top: 0.75rem;
      --padding-bottom: 0.75rem;
      --min-height: auto;

      ion-button.avatar-button {
        margin: 0;
        min-height: 1.5rem;
        border-radius: 1.5rem;
        padding: 0.2rem;

        &::part(native) {
          width: 1.5rem;
          height: 1.5rem;
          padding: 0;
        }

        span {
          font-size: 0.95rem;
          line-height: 1.22rem;
        }

        @media screen and (min-width: 250px) and (max-width: 374px) {
          min-height: 1.2rem;
          padding: 0;

          &::part(native) {
            width: 1.2rem;
            height: 1.2rem;
            padding: 0;
          }

          span {
            font-size: 0.8rem;
          }
        }
      }

      .identifier-name {
        overflow: hidden;
        margin-left: 0.3rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        font-size: 1rem;
        color: var(--ion-color-neutral-700);

        &.md {
          margin-inline-end: 0;
        }
      }
    }
  }

  .alert {
    margin-top: 0.75rem;
  }

  &.revoked {
    .request-animation-center {
      min-height: calc(100vh - (15.5rem + var(--ion-safe-area-top)));
    }

    .alert {
      &.info-card {
        background: rgba(var(--ion-color-error-800-rgb), 0.1);

        .alert-icon {
          ion-icon {
            color: var(--ion-color-danger);
          }
        }
      }
    }

    .request-animation-center {
      margin-top: 0;
    }
  }

  .request-icons-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;

    .request-user-logo,
    .request-provider-logo {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;
      background-color: var(--ion-color-neutral-700);

      ion-icon {
        width: 4.875rem;
        height: 4.875rem;
        margin: 0 auto;
      }

      .user-avatar-image,
      .provider-avatar-image {
        width: 4.875rem;
        height: 4.875rem;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
      }
    }

    .request-checkmark-logo {
      position: absolute;
    }

    .request-swap-logo,
    .request-checkmark-logo {
      margin: 0 1.62rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--ion-color-primary-700);
        margin: 0 auto;
        color: var(--ion-color-neutral-100);
      }
    }

    .request-swap-logo {
      width: 2.75rem;
      height: 2.75rem;

      span {
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 2.75rem;

        ion-icon {
          width: 1.75rem;
          height: 1.75rem;
          margin: 0 auto;
        }
      }
    }

    .request-checkmark-logo span {
      width: 5rem;
      height: 5rem;
      border-radius: 5rem;

      ion-icon {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0 auto;
      }
    }

    .request-animation-center {
      padding: 0;
    }
  }

  .request-info-row {
    ion-col {
      display: flex;
      flex-direction: column;

      > * {
        text-align: center;
      }

      span {
        font-size: 1rem;
        font-weight: 500;
        color: var(--ion-color-neutral-700);
        margin-bottom: 0.75rem;

        &:first-letter {
          text-transform: capitalize;
        }

        &.break-text {
          margin-top: 0.75rem;

          &:first-letter {
            text-transform: lowercase;
          }
        }
      }

      strong {
        font-size: 1.5rem;
        color: var(--ion-color-neutral-700);
        font-weight: 700;
        line-height: 1.75rem;

        &:first-letter {
          text-transform: capitalize;
        }

        &.credential-type {
          min-height: 1.115rem;
        }
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .request-animation-center {
      padding: 1.2rem 0;

      .group-members {
        margin-top: 1.6rem;
      }

      .issuer-name ion-icon {
        width: 1rem;
        height: 1rem;
        margin-left: 0.2rem;
        padding-top: 0.12rem;
      }
    }

    .credential-detail {
      margin-top: 1.6rem;

      .credential-button {
        height: 2rem;
      }
    }

    .related-identifiers {
      margin-top: 1.2rem;

      .related-identifier-label {
        font-size: 0.8rem;
      }

      .related-identifier {
        --padding-top: 0.6rem;
        --padding-bottom: 0.6rem;

        .identifier-name {
          font-size: 0.8rem;
        }

        ion-icon {
          width: 1.1rem;
          height: 1.1rem;
        }
      }
    }

    .alert {
      margin-top: 0.6rem;
    }

    .request-icons-row {
      margin-bottom: 1.6rem;

      .request-user-logo,
      .request-provider-logo {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;

        ion-icon {
          width: 3.9rem;
          height: 3.9rem;
        }
      }

      .request-swap-logo,
      .request-checkmark-logo {
        margin: 0 1.296rem;
      }

      .request-swap-logo {
        width: 2.2rem;
        height: 2.2rem;

        span {
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 2.2rem;

          ion-icon {
            width: 1.4rem;
            height: 1.4rem;
          }
        }
      }

      .request-checkmark-logo span {
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;

        ion-icon {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .request-info-row ion-col {
      span {
        font-size: 0.8rem;
        margin-bottom: 0.6rem;

        &.break-text {
          margin-top: 0.6rem;
        }
      }

      strong {
        font-size: 1.2rem;
        line-height: 1.4rem;

        &.credential-type {
          min-height: 0.892rem;
        }
      }
    }

    .request-status {
      font-size: 1.2rem;
    }
  }

  @keyframes downsizeAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes resizeHeightAnimation {
    0% {
      transform: scaleY(1);
      opacity: 0;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }

  @keyframes hiddenAnimation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes checkMarkAnimation {
    0% {
      opacity: 0;
    }
    51% {
      opacity: 0;
    }
    52% {
      opacity: 1;
    }
    75% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20%);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes statusResizeAnimation {
    0% {
      opacity: 0;
      transform: translateY(-300%);
    }
    75% {
      transform: translateY(-100%);
      opacity: 0;
    }
    90% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes translateLeftAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    99% {
      transform: translate3d(-100%, 0, 0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes translateRightAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    99% {
      transform: translate3d(100%, 0, 0);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes translateTitleUpAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    50% {
      transform: translate3d(0, -25vh, 0);
      opacity: 0.5;
    }
    100% {
      transform: translate3d(0, -50vh, 0);
      opacity: 0;
    }
  }

  @keyframes translateFooterDownAnimation {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    50% {
      transform: translate3d(0, 25vh, 0);
      opacity: 0.5;
    }
    100% {
      transform: translate3d(0, 50vh, 0);
      opacity: 0;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .request-icons-row > * {
    opacity: 1;
  }

  .request-status {
    text-align: center;
    font-size: 1.5rem;
  }

  &.animation-off {
    .request-checkmark-logo,
    .request-status {
      display: none;
    }

    &.pending-multisig {
      .request-checkmark-logo,
      .request-status {
        position: initial;
        display: block;
      }

      .request-provider-logo,
      .request-swap-logo,
      .request-user-logo,
      .request-info-row {
        display: none;
      }
    }
  }

  &.animation-on:not(.setup-identifier) {
    ion-header ion-toolbar ion-button {
      display: none;
    }

    .group-members {
      display: none;
    }

    h2 {
      animation-delay: 1s;
      animation: translateTitleUpAnimation 1s forwards;
    }

    .request-icons-row {
      margin: 0;
    }

    .request-animation-center {
      transform: translateY(15%);
      transition: transform 0.5s;
    }

    .request-user-logo {
      animation-delay: 0.5s !important;
      animation: translateRightAnimation 0.75s forwards;
    }

    .request-swap-logo {
      animation-delay: 0.5s !important;
      animation: hiddenAnimation 0.75s forwards;
    }

    .request-provider-logo {
      animation-delay: 0.5s !important;
      animation: translateLeftAnimation 0.75s forwards;
    }

    .request-checkmark-logo {
      animation: checkMarkAnimation 2.5s forwards;

      span {
        color: var(--ion-color-primary-100);
        background: var(--ion-color-primary-700);
        animation: spin 0.625s forwards;
        animation-delay: 1.25s;
      }
    }

    .request-info-row {
      animation: downsizeAnimation 0.75s forwards;
      height: 0;
    }

    .request-status {
      z-index: -1;
      animation: statusResizeAnimation 2.5s forwards;
    }

    .credential-detail {
      animation: resizeHeightAnimation 0.75s forwards;
    }

    .related-identifiers {
      animation: resizeHeightAnimation 0.75s forwards;
    }

    .responsive-page-content {
      transform: translateY(10%);
      transition: transform 0.75s;
    }

    .page-footer {
      animation-delay: 1s;
      animation: translateFooterDownAnimation 1s forwards;
    }
  }
}
