.profile-type {
  .profile-type-option {
    --ion-card-background: var(--ion-color-neutral-100);
    display: flex;
    padding: 0.875rem 0.875rem 1.25rem 1.25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem 0
      rgba(var(--ion-color-neutral-500-rgb), 0.2);
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--ion-color-neutral-100);
    margin: 0 var(--padding) 0.75rem;
    overflow: hidden;

    &.active {
      --ion-card-background: var(--ion-color-primary-100);
      border-color: var(--ion-color-primary-700);
    }

    h3 {
      margin: 0.375rem 0 0.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: var(--ion-color-neutral-700);
    }

    p {
      font-weight: 400;
      line-height: 1.5rem;
    }

    .checkbox {
      --size: 2rem;
      --checkbox-background-checked: var(--ion-color-primary-700);
      --checkmark-color: var(--ion-color-primary-100);
      --border-width: 0.115rem;
      flex: none;
      margin-left: 0.1rem;

      &.checkbox-checked {
        --border-width: 0;
      }
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .profile-type-option {
      h3 {
        margin: 0.375rem 0 0.5rem;
        font-size: 1rem;
        line-height: 1.25rem;
      }

      p {
        font-weight: 400;
        line-height: 1.25rem;
      }

      .checkbox {
        --size: 1.25rem;

        &.checkbox-checked {
          --border-width: 0;
        }
      }
    }
  }
}
