ion-button.avatar-button {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.5rem;

  &.rank-0 {
    --background: var(--ion-color-primary-300);
  }
  &.rank-1 {
    --background: var(--ion-color-primary-400);
  }
  &.rank-2 {
    --background: var(--ion-color-error-400);
  }
  &.rank-3 {
    --background: var(--ion-color-warning-400);
  }
  &.rank-4 {
    --background: var(--ion-color-success-400);
  }

  span {
    color: var(--ion-color-neutral-700);
    text-align: center;
    font-size: 1.5125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.0625rem;
  }

  @media screen and (min-width: 250px) and (max-width: 374px) {
    span {
      font-size: 1.2rem;
    }
  }
}
