body.scan-active {
  &.scan-modal {
    div.app-router {
      display: none;
    }
  }

  .profile-detail-modal {
    display: none;
  }

  .connect-dapp-modal {
    &.scan {
      --background: transparent;
    }

    .connect-dapp-scan.scrollable-page-layout {
      background: transparent;
    }
  }
}

.connect-dapp {
  & .page-header {
    ion-toolbar {
      ion-button.close-button,
      ion-button.connect-wallet-button {
        background: var(--ion-color-neutral-100);
      }
    }
  }

  &.connect-dapp-scan {
    background: var(--ion-color-neutral-700);
    padding: 0;

    .scrollable-page-content {
      position: static;
    }

    ::part(scroll) {
      position: static;
    }

    .page-header {
      ion-toolbar {
        --background: transparent;
      }

      padding: 0 1.25rem;
      .close-button-label > h4 {
        color: var(--ion-color-neutral-200) !important;
      }
    }

    .container {
      padding: 0 1.25rem;
      background: transparent;
    }

    @media screen and (min-width: 250px) and (max-width: 370px) {
      .scan {
        ion-row:first-child {
          margin-top: 5rem;
        }
      }
    }
  }
}

.connect-wallet-container {
  .connect-wallet-title {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.75rem;
  }

  .placeholder-container {
    height: calc(100vh - 8rem);
  }

  .connection-pending {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;

    & > ion-icon {
      margin: 0;
    }
  }

  .checkbox {
    width: fit-content;
    margin-right: 0.5rem;
    --checkbox-background-checked: var(--ion-color-primary-700);
    --checkmark-color: var(--ion-color-primary-100);
    --border-width: 0;
    flex: none;
    margin-left: 1rem;
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .connect-wallet-title {
      font-size: 1rem;
      line-height: 1.25rem;
      margin-bottom: 0.75rem;
      margin-top: 1.25rem;
    }
  }
}
