.profile-state-modal {
  .page-header {
    ion-title {
      h2 {
        text-align: left;
      }
    }
  }

  .responsive-page-content {
    .info-card {
      margin-top: 1.5rem;

      p {
        white-space: pre-line;
      }

      &.warning {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        background-color: rgba(var(--ion-color-warning-800-rgb), 0.1);
        width: 100%;
        border-radius: 0.5rem;

        p {
          text-align: left;
          margin-left: 0.5rem;
        }

        ion-icon {
          color: var(--ion-color-warning-800);
        }
      }
    }

    .page-footer {
      padding: 0;
    }
  }
}
