.connect-incoming-request {
  width: 100%;
  height: 100%;
  background: var(--ion-color-neutral-200);

  & .page-header {
    ion-toolbar {
      --background: transparent;
    }
  }

  .responsive-page-content {
    --buttons-height: 7.5rem;
    justify-content: space-between;
    height: 100%;

    .connect-incoming-request-center {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .connect-incoming-request-icons-row {
        display: flex;
        justify-content: center;
        margin-bottom: 1.5rem;

        .connect-incoming-request-user-logo {
          border-radius: 5rem;
          width: 5rem;
          height: 5rem;

          & > img {
            border-radius: inherit;
          }
        }

        @media screen and (min-width: 250px) and (max-width: 370px) {
          .connect-incoming-request-user-logo {
            width: 3.5rem;
            height: 3.5rem;
          }
        }

        .fallback-logo {
          background-color: var(--ion-color-neutral-800);
          display: var(--display-fallback);
          justify-content: center;
          align-items: center;

          ion-icon {
            width: 100%;
            height: 100%;
          }
        }
      }

      .connect-incoming-request-message {
        text-align: center;
        padding-inline: 15vw;
        margin: 0;
      }
    }
  }
}
