.group-setup {
  .title {
    text-align: center;
    margin: 0.75rem 0 1.5rem;
  }

  .error-message {
    text-align: left;
  }

  .line-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--ion-color-neutral-700);
    margin-bottom: 1.5rem;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--ion-color-neutral-400);
    }

    &::before {
      margin-right: 0.5em;
    }

    &::after {
      margin-left: 0.5em;
    }
  }

  @media screen and (min-width: 250px) and (max-width: 370px) {
    .title {
      margin: 0.5rem 0 1rem;
    }
  }
}
