.tile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--ion-color-neutral-100);
  box-shadow: 0.25rem 0.25rem 0.5rem 0
    rgba(var(--ion-color-neutral-500-rgb), 0.2);

  .tile-top {
    display: flex;
    justify-content: space-between;

    > * {
      align-self: center;
    }

    .tile-icon {
      width: 2.5rem;
      height: 2.5rem;

      ion-icon {
        width: 1.75rem;
        height: 1.75rem;
        padding: 0.375rem;
        border-radius: 0.75rem;
        color: var(--ion-color-primary-700);
        background: var(--ion-color-primary-200);
      }
    }

    .tile-chevron {
      width: 1rem;
      height: 1rem;
      color: var(--ion-color-neutral-400);
    }
  }

  .tile-bottom {
    .tile-title {
      font-size: 1rem;
      font-weight: 500;
      color: var(--ion-color-neutral-700);
    }

    .tile-text {
      font-size: 0.875rem;
      font-weight: 400;
      color: var(--ion-color-neutral-600);
    }
  }

  &.home-tab-scan-tile {
    background: var(--ion-color-card-theme-one);

    .tile-top {
      .tile-chevron {
        color: var(--ion-color-neutral-200);
      }
    }

    .tile-bottom {
      .tile-title {
        color: var(--ion-color-neutral-100);
      }

      .tile-text {
        color: var(--ion-color-neutral-200);
      }
    }
  }
}

@media screen and (min-width: 250px) and (max-width: 370px) {
  .tile {
    gap: 0.8rem;
    padding: 0.8rem;

    .tile-top {
      .tile-icon {
        width: 2rem;
        height: 2rem;

        ion-icon {
          width: 1.4rem;
          height: 1.4rem;
        }
      }

      .tile-chevron {
        width: 0.8rem;
        height: 0.8rem;
      }
    }

    .tile-bottom {
      .tile-title {
        font-size: 0.8rem;
      }

      .tile-text {
        font-size: 0.7rem;
      }
    }
  }
}
