.pending-group {
  &.scrollable-page-layout {
    .page-header {
      padding: 1rem 0;

      &.md {
        padding-bottom: 0;

        .toolbar-title-default {
          padding-top: 0;
        }
      }

      ion-title {
        text-align: left;
      }
    }

    .tertiary-button {
      &::part(native) {
        color: var(--ion-color-error-800);
      }
    }

    .alert {
      margin-top: 1.5rem;
      background-color: rgba(var(--ion-color-warning-800-rgb), 0.1);
      width: 100%;
      border-radius: 0.5rem;

      p {
        text-align: left;
      }

      ion-icon {
        color: var(--ion-color-warning-800);
      }
    }

    .list-header {
      margin-bottom: 0.75rem;
    }

    .group-members,
    .request-from {
      .member {
        margin-bottom: 0.75rem;
      }

      ion-item {
        display: flex;
        align-items: center;

        &.card-header {
          padding-bottom: 1.25rem;

          .action-button {
            color: var(--ion-color-neutral-500);
          }
        }
      }

      .card-details-info-block-line {
        align-items: center;
        .card-details-info-block-line-start-icon {
          height: auto;

          ion-button.avatar-button {
            width: 1.5rem;
            min-height: auto;
            margin-bottom: 0.125rem;

            span {
              font-size: 1rem;
              line-height: 1rem;
            }

            &::part(native) {
              width: 1.5rem;
              height: 1.5rem;
            }
          }

          @media screen and (min-width: 250px) and (max-width: 370px) {
            width: auto;
          }
        }
      }
    }

    .required-signer {
      margin-bottom: 0.25rem;

      .card-detail-stack-item ion-label h2 {
        font-weight: 700;
      }
    }

    .recovery-signer {
      .card-detail-stack-item ion-label h2 {
        font-weight: 700;
      }
    }

    .page-footer {
      padding-bottom: 1.5rem;

      @media screen and (min-width: 250px) and (max-width: 370px) {
        padding-bottom: 1.15rem;
      }
    }

    &.setup-members {
      .page-header {
        padding: 1rem 0;
        ion-title {
          text-align: left;
        }
      }

      p.setup-members-subtitle {
        text-align: center;
      }
    }
  }
}
